<!DOCTYPE html>
<html lang="en">
<head>
    <title>my cooking app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/javascript.js"></script>
    <link href="/static/style/style.css" rel="stylesheet">
</head>
 
<!-- ----------------------------------------------------------------------- -->
<body> 

    
   
     
     <form method="POST" action="/generate" id="itemsForm">

      
                <label for="param2">Selected desired cooking time:</label>
                <select id="items_cooking_time" name="items_cooking_time" multiple>
                    {% for item in items_cooking_time %}
                        <option value="{{ item }}" {% if item in selected_cooking_time %}selected{% endif %}>{{ item }}</option>
                    {% endfor %}
                </select>
                <br><br>        <br><br>
 
                <div style="display: flex; justify-content: center;">
                    <div class="accordion accordion-flush col-10 " id="accordionFlushExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Carbohydrates
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <div class="row">
                                        {% for item in items_carbohydrates %}
                                            <input type="checkbox" class="btn-check" id="{{ item }}" autocomplete="off">
                                            <label class="btn btn-sm btn-outline-warning col-sm m-1" for="{{ item }}" >{{ item }}</label>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
  

                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Animal Protein
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">                
                    
                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <div class="row">
                                        {% for item in items_meat %}
                                            <input type="checkbox" class="btn-check" id="{{ item }}" autocomplete="off">
                                            <label class="btn btn-outline-danger col-sm m-1" for="{{ item }}" >{{ item }}</label>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Vegetables
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">              
                    
                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <div class="row">
                                        {% for item in items_vegetables %}
                                            <input type="checkbox" class="btn-check" id="{{ item }}" autocomplete="off">
                                            <label class="btn btn-outline-success col-sm m-1" for="{{ item }}" >{{ item }}</label>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                Diary
                            </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">   
                    
                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <div class="row">
                                        {% for item in items_dairy %}
                                            <input type="checkbox" class="btn-check" id="{{ item }}" autocomplete="off">
                                            <label class="btn btn-outline-light col-sm m-1" for="{{ item }}" >{{ item }}</label>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                Other
                            </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">                 
                    
                                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                        <div class="row">
                                            {% for item in items_others %}
                                                <input type="checkbox" class="btn-check" id="{{ item }}" autocomplete="off">
                                                <label class="btn btn-outline-secondary col-1 m-1" for="{{ item }}" >{{ item }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                            </div>
                            </div>
                        </div>

                    </div>

                </div>

        

 
   
 
        <button type="button" id="submitBtn" type="submit" class="btn btn-primary mt-3">Generate my Recept</button>
    </form>
 

 
    <div>{{ generated_images   }}</div>
    <div id="imagesContainer"></div>

    <div id="selectedItemsList"></div>


    
    
    
    
   

       
 
        <!-- <br><br>
         
        <label for="param2">Selected desired cooking time:</label>
          <select id="items_cooking_time" name="items_cooking_time" multiple>
            {% for item in selectedItemsList %}
                <option value="{{ item }}" {% if item in selected_cooking_time %}selected{% endif %}>{{ item }}</option>
            {% endfor %}
        </select>  
        <br><br>        <br><br>
        
        <input type="submit" value="Submit">
       -->
     
    {% if result %}
        <h2>Result:</h2>
        <p>{{ result }}</p>
    {% endif %}


   
    <!-- <div class="steps-container">
        {% for step in images %}
            <div class="step">
                <div class="step-description">{{ url_for('static', filename='images/step_1.png' ) }}</div>
                <img src="{{ url_for('static', filename='images/step_1.png' ) }}" alt="Step Image">
                <div class="step-description">{{ step.description }}</div>
            </div>
        {% endfor %}
    </div>

    {% if images %}
        <h2>images:</h2>
        <p>{{ images }}</p>
    {% endif %}

    <h1>Image Gallery2</h1> -->
  


    
</body>
</html>
